html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: #02061A;
  color: #fff;
}

.container {
  max-width: 1080px;
  margin: auto;
}

.green {
  z-index: -1;
  position: absolute;
  width: 1500px;
  height: 1500px;
  left: -450px;
  top: -650px;
  background: -o-radial-gradient(rgba(84, 197, 173, 0.7), transparent, transparent);
  background: radial-gradient(rgba(84, 197, 173, 0.7), transparent, transparent);
}

.blue {
  z-index: -1;
  position: absolute;
  width: 1800px;
  height: 1800px;
  left: 800px;
  top: 50px;
  background: -o-radial-gradient(#52A7C6, transparent, transparent);
  background: radial-gradient(#52A7C6, transparent, transparent);
}

.header {
  width: 100%;
  padding-top: 92px;
  position: relative;
  overflow: hidden;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 188px;
}
.header__nav-logo {
  z-index: 10;
  font-weight: bold;
  font-weight: 700;
  font-size: 27px;
  line-height: 34px;
}
.header__nav-item {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__nav-list:not(:last-child) {
  margin-right: 50px;
}
.header__nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}
.header__nav-link:hover {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: #54C5AD;
}
.header__main {
  margin-bottom: 200px;
}
.header__main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__main-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 60px;
  line-height: 76px;
  width: 540px;
  margin-bottom: 30px;
}
.header__main-button {
  width: 256px;
  height: 95px;
  border: none;
  background-color: inherit;
  border: 3px solid #23263C;
  border-radius: 50px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-weight: 700;
  font-size: 27px;
  line-height: 34px;
  cursor: pointer;
}
.header__featured {
  padding-bottom: 200px;
}
.header__featured-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
}
.header__featured-block {
  position: relative;
  border: 2px solid #5BD2BD;
  background: #23263C;
  padding: 45px 84px 45px 64px;
}
.header__featured-block-mask {
  position: absolute;
  z-index: -1;
  border: 2px solid #5BD2BD;
  right: 0px;
  bottom: -8px;
  top: 8px;
  left: -8px;
}
.header__featured-item {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__featured-list {
  font-weight: 700;
  font-size: 27px;
  line-height: 34px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.header__featured-link {
  color: inherit;
  text-decoration: none;
  -webkit-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  opacity: 0.5;
}
.header__featured-link:hover {
  color: #54C5AD;
  opacity: 1;
}

.button__left {
  background-color: #23263C;
  margin-right: 22px;
  -webkit-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
}
.button__left:hover {
  background-color: transparent;
  color: #54C5AD;
}
.button__right {
  -webkit-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
}
.button__right:hover {
  color: #54C5AD;
}

.main {
  padding-top: 250px;
  z-index: -100;
}/*# sourceMappingURL=style.css.map */